<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/main/static/css/base.css">
        <title>{% block title %}Django ToDoList{% endblock %}</title>
    </head>

    <body>
        <div class="sidenav">
            <a href="/">Home</a>
            <a href="/create">Create List</a>
            <a href="/1">Your List</a>
        </div>
        <div id="content", name="content", class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>